.cart_wrapper
  background-color: $light-green
  height: 92vh
  display: flex
  justify-content: space-between

.cart
  // background-color: gray
  margin-top: 4.5%

.cart_section
  width: 75%
  // background-color: blue
  display: flex
  flex-direction: column
  .item
    // background-color: green
    margin: 15px 10px
    display: flex
    justify-content: space-evenly
    align-items: center

.info_section
  width: 25%
  background-color: red