main 
  display: flex
  flex-direction: column
  justify-content: space-between
  background-color: $light-green
  position: relative
  top: 68px
  width: 100vw
  height: 100vh
  padding-top: 15px
  div
    display: flex
    height: 80px
    align-items: center
    justify-content: center
    h1
      width: 30%
      font-size: 20px
    p
      font-size: 15px
      width: 60%
