.indi_img
  height: 250px
  width: auto

.add_button
  margin-top: 20px
  background-color: $dark-white
  color: $black
  padding: 12px 12px
  border: none
  border-radius: 50%
  font-family: $megrim
  font-weight: bolder
  box-shadow: 0px 0px 50px $black
  &:hover
    background-color: $dark-green
    color: $light-white
    box-shadow: 0px 0px 10px $black
    

