.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center
  
}

.modalBody {
  position: relative;
  background-color: white;
  z-index: 20;
  overflow: auto;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  height: 250px;
  width: 500px;
  border-radius: 3.25%;
  border: 1px solid black;
  
}

.button {
  border: 1px, solid black;
  background-color: white;
  margin: 0px 15px;
}

.xButton {
  position: absolute;
  top: 15px;
  /* left: 465px; */
  right: 20px;
  border-radius: 3.25%;
  margin: 0px;
}

.logOrReg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-top: 15px;

}