.header_display
    display: flex
    justify-content: space-between
    align-items: center
    background-image: linear-gradient(to bottom, $dark-green, $light-green)
    opacity: .85
    width: 100vw
    height: 9vh
    position: fixed
    top: 0
    left: 0
    z-index: 10
    .logo
      width: 60px
      padding: 3px
    .nav_bar
      display: flex
      align-items: center
      height: 25px
      width: 575px
      justify-content: space-between
      margin-right: 45px
      letter-spacing: 2px
      .nav_link
        color: $black
        font-family: $megrim
        font-weight: bolder
        font-size: 20px
        text-transform: uppercase
        text-decoration: none
        text-shadow: 4px 4px 9px $black
        &:hover
          color: $light-green
          position: relative
          bottom: 3px
          text-shadow: 5px 5px 2px $black,
          0px 0px 1px $black 
          0px 0px 3px $meduim-green,
          0px 0px 5px $light-green,
          0px 0px 7px white
      .nav_button
        background: none
        border: none
        color: $black
        font-family: $megrim
        font-weight: bolder
        font-size: 20px
        text-transform: uppercase
        text-shadow: 3px 3px 5px $black
        &:hover
          color: $light-green
          position: relative
          bottom: 3px
          text-shadow: 5px 5px 2px $black,
          0px 0px 1px $black 
          0px 0px 3px $meduim-green,
          0px 0px 5px $light-green,
          0px 0px 7px $light-white

#cart_svg 
  z-index: 20
  height: 40px
  width: 40px

.cart_indicator
  position: relative
  right: 49px
  bottom: 2px

#top_logo
  font-family: $megrim
  font-weight: bolder
  color: $black
  letter-spacing: 2px
  text-decoration: none

    



      
          

