.header_display
    display: flex
    justify-content: space-between
    align-items: center
    background-color: $dark-green
    width: 100vw
    height: 80px
    .logo
      width: 60px
    .nav_bar
      display: flex
      align-items: center
      height: 25px
      width: 450px
      justify-content: space-between
      margin-right: 45px
      .nav_link
        color: $black
        font-family: $megrim
        font-weight: bold
        font-size: 20px
        text-transform: uppercase
          

