.carousel
  background-color: $light-green
  display: flex
  justify-items: center
  color: $black
  position: relative
  top: 68px
  height: 53vh
  width: 100vw

  div
    // background-color: pink
    display: flex
    flex-direction: row
  .testImage
    height: 325px
    border: solid $black 1px 
    border-radius: 100%
    margin-top: 15px

.dashboard
  background-color: $light-green
  width: 100vw
  height: 50vh
  display: flex
  justify-content: space-around
  .testImage
    height: 200px
    margin-top: 90px


  
