.testImage {
  width: 200px;
  height: auto;
}

.selection {
  display: flex;
}

#SE_Logo {
  width: 100px;
}

/* #svgImg {
  width: 40px
} */
.header_display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  padding: 9px;

}

.nav_bar {
  width: 400px;
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
}

.nav_link {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.nav_text {
  position: relative;
  top: 10px;
  text-decoration: none;
  text-transform: capitalize;
}

#cart_svg {
  position: relative;
  bottom: 13px;
  width: 45px
}

.cart_indicator {
  position: relative;
  right: 45px;
  top: 1px;
  font-size: 15px;
  font-weight: bold;
}

