/*
light green = #A1E88B 
medium green = #38E04B
dark green = #0E7B11
light gray = #8F938E
medium gray = #50524F
dark gray = #232723
black = #090B09

font-family: 'Megrim', cursive;
font-family: 'Syncopate', sans-serif;
*/


@import url('https://fonts.googleapis.com/css?family=Megrim|Syncopate');


.testImage {
  width: 250px;
  height: auto;
  border-radius: 9px;
  border: #8F938E solid 1px;

}

.selection {
  display: flex;
}

#SE_Logo {
  width: 100px;
  color: #A1E88B;
}

.header_display {
  position: fixed;
  width: 100vw;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient( to right,
  #38E04B, #38E04B,#090b09,#232723, #232723 
  );
  padding: 9px;
  z-index: 10;
}

.nav_bar {
  width: 400px;
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
  
}


.nav_text {
  position: relative;
  top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Megrim', cursive;
  color: #A1E88B;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 5px 5px 5px #090B09;
}

.nav_text:hover {
  position: relative;
  top: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Megrim', cursive;
  color: #38E04B;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 10px 10px 3px black, 0 0 60px #A1E88B, 0 0 5px  #8F938E ;
}

#cart_svg {
  color: #A1E88B;
  position: relative;
  bottom: 13px;
  width: 45px
}

.cart_indicator {
  position: relative;
  right: 42px;
  top: 1px;
  font-size: 15px;
  font-weight: bold;
}

.wrapper {
  position: relative;
  top: 121px;
  background-color: #8F938E;
  height: 100vh;
}

.footer {
  background-color: #232723;
  height: 50px;
  position: inherit;
  width: 100vw;
  bottom: 0;
}

.logo {
  fill: green;
}

.nb_button {
  background: none;
  border: none;
  text-transform: uppercase;
  font-family: 'Megrim', cursive;
  color: #A1E88B;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 5px 5px 5px #090B09;
  position: relative;
  top: -4px
}

.nb_button:hover {
  position: relative;
  top: -6px;
  color: #38E04B;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 10px 10px 3px black, 0 0 60px #A1E88B, 0 0 5px  #8F938E ;
}

.dashboardOptions {
  display: flex;
  justify-content: space-around;
}
