@import url(https://fonts.googleapis.com/css?family=Megrim);
-- Google Fonts { }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit; }

BODY {
  min-height: 100vh;
  width: 100%;
  background: #EFF0D1;
  font-family: "Josefin Sans", sans-serif; }

H2 {
  margin: 8px 0; }

P {
  line-height: 1.4;
  font-size: .6rem;
  font-family: "Open Sans", sans-serif; }

.underline {
  display: inline-block;
  position: relative; }
  .underline::after {
    content: '';
    background: #D7C0D0;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 8px; }

.header_display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #367335;
  width: 100vw;
  height: 9vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }
  .header_display .logo {
    width: 60px;
    padding: 3px; }
  .header_display .nav_bar {
    display: flex;
    align-items: center;
    height: 25px;
    width: 450px;
    justify-content: space-between;
    margin-right: 45px; }
    .header_display .nav_bar .nav_link {
      color: #13120E;
      font-family: "Megrim", sans-serif;
      font-weight: bolder;
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: none;
      text-shadow: 4px 4px 5px #13120E; }
      .header_display .nav_bar .nav_link:hover {
        color: #5FA952;
        position: relative;
        bottom: 3px;
        text-shadow: 5px 5px 2px #13120E, 0px 0px 1px #13120E; }
    .header_display .nav_bar .nav_button {
      background: none;
      border: none;
      color: #13120E;
      font-family: "Megrim", sans-serif;
      font-weight: bolder;
      font-size: 20px;
      text-transform: uppercase;
      text-shadow: 3px 3px 5px #13120E; }
      .header_display .nav_bar .nav_button:hover {
        color: #5FA952;
        position: relative;
        bottom: 3px;
        text-shadow: 5px 5px 2px #13120E, 0px 0px 1px #13120E; }

.carousel {
  background-color: #B1D59A;
  display: flex;
  justify-items: center;
  color: #13120E;
  position: relative;
  top: 68px;
  height: 50vh; }
  .carousel div {
    display: flex;
    flex-direction: row; }
  .carousel .testImage {
    height: 325px;
    border: solid #13120E 1px;
    border-radius: 100%;
    margin-top: 15px; }

.dashboard {
  background-color: #B1D59A;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: space-around; }
  .dashboard .testImage {
    height: 200px;
    margin-top: 90px; }
