@import url(https://fonts.googleapis.com/css?family=Megrim);
-- Google Fonts { }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit; }

BODY {
  min-height: 100vh;
  width: 100%;
  background: #EFF0D1;
  font-family: "Josefin Sans", sans-serif; }

H2 {
  margin: 8px 0; }

P {
  line-height: 1.4;
  font-size: .6rem;
  font-family: "Open Sans", sans-serif; }

.underline {
  display: inline-block;
  position: relative; }
  .underline::after {
    content: '';
    background: #D7C0D0;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 8px; }

.header_display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, #367335, #B1D59A);
  opacity: .85;
  width: 100vw;
  height: 9vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }
  .header_display .logo {
    width: 60px;
    padding: 3px; }
  .header_display .nav_bar {
    display: flex;
    align-items: center;
    height: 25px;
    width: 575px;
    justify-content: space-between;
    margin-right: 45px;
    letter-spacing: 2px; }
    .header_display .nav_bar .nav_link {
      color: #13120E;
      font-family: "Megrim", sans-serif;
      font-weight: bolder;
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: none;
      text-shadow: 4px 4px 9px #13120E; }
      .header_display .nav_bar .nav_link:hover {
        color: #B1D59A;
        position: relative;
        bottom: 3px;
        text-shadow: 5px 5px 2px #13120E, 0px 0px 1px #13120E; }
    .header_display .nav_bar .nav_button {
      background: none;
      border: none;
      color: #13120E;
      font-family: "Megrim", sans-serif;
      font-weight: bolder;
      font-size: 20px;
      text-transform: uppercase;
      text-shadow: 3px 3px 5px #13120E; }
      .header_display .nav_bar .nav_button:hover {
        color: #B1D59A;
        position: relative;
        bottom: 3px;
        text-shadow: 5px 5px 2px #13120E, 0px 0px 1px #13120E; }

#cart_svg {
  z-index: 20;
  height: 40px;
  width: 40px; }

.cart_indicator {
  position: relative;
  right: 49px;
  bottom: 2px; }

#top_logo {
  font-family: "Megrim", sans-serif;
  font-weight: bolder;
  color: #13120E;
  letter-spacing: 2px;
  text-decoration: none; }

.Modal {
  background-color: #367335;
  color: #13120E;
  position: relative;
  border: none;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 3px 3px 6px #13120E;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .Modal #close {
    position: absolute;
    left: 525px;
    top: 20px; }
  .Modal #login {
    position: absolute;
    left: 505px;
    top: 50px; }
  .Modal #register {
    position: absolute;
    left: 505px;
    top: 90px; }
  .Modal #create {
    position: absolute;
    left: 505px;
    top: 90px; }
  .Modal .button {
    margin: 10px;
    width: 70px; }
  .Modal button {
    background-color: #DEECC5;
    border: none;
    padding: 5px;
    border-radius: 9px;
    box-shadow: 1px 1px 3px #13120E;
    font-family: "Megrim", sans-serif;
    font-weight: bolder; }
    .Modal button:hover {
      background-color: #13120E;
      color: #B1D59A; }
  .Modal input {
    background-color: #B1D59A;
    border: none;
    border-radius: 9px;
    box-shadow: 1px 1px 3px #13120E;
    margin: 10px;
    padding: 5px 10px;
    width: 350px;
    text-align: center; }

.inputs {
  display: flex;
  flex-direction: column; }

.dashboard_wrapper {
  background-image: url("https://c.pxhere.com/photos/17/11/grooved_pine_bark_old_tree_plant_background_close_up_wild_wood_interior_wooden_wall-817057.jpg!d");
  background-size: cover;
  overflow: hidden; }

.carousel {
  display: flex;
  height: 50vh;
  width: 100vw;
  top: 80px;
  height: 46vh; }
  .carousel img {
    height: 46vh;
    border: 1px #13120E solid;
    border-radius: 4%;
    opacity: .80; }
    .carousel img:hover {
      opacity: 1;
      transform: scale(1.01);
      transition: .5s;
      border-radius: 30px;
      box-shadow: 3px 3px 10px #13120E; }

.dashboard {
  position: relative;
  top: 100px;
  height: 41vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #367335, #B1D59A);
  opacity: .87;
  display: flex;
  justify-content: center;
  align-items: space-evenly; }
  .dashboard .dashboard_text_column {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px; }
    .dashboard .dashboard_text_column h1 {
      font-size: 25px; }
    .dashboard .dashboard_text_column p {
      margin-top: 5px;
      font-size: 14px;
      font-weight: bold;
      text-indent: 30px; }

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #B1D59A;
  position: relative;
  top: 68px;
  width: 100vw;
  height: 100vh;
  padding-top: 15px; }
  main div {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center; }
    main div h1 {
      width: 30%;
      font-size: 20px; }
    main div p {
      font-size: 15px;
      width: 60%; }

.account {
  display: flex;
  justify-content: center;
  align-items: center; }

.left {
  background-color: #13120E;
  color: #DEECC5;
  opacity: .87;
  height: 86vh;
  width: 40vw;
  position: relative;
  top: 4.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 9px; }
  .left h2 {
    opacity: 1;
    text-align: center;
    margin: 50px 0px;
    padding: 10px; }
  .left input {
    text-align: center;
    margin: 0px 10px;
    background-color: #B1D59A;
    border: none;
    border-radius: 9px;
    padding: 5px 10px;
    width: 250px; }
  .left button {
    background-color: #DEECC5;
    border: none;
    padding: 5px;
    border-radius: 9px;
    box-shadow: 1px 1px 3px #13120E;
    font-family: "Megrim", sans-serif;
    font-weight: bolder;
    font-size: 18px;
    padding: 5px 10px;
    margin-top: 20px; }
    .left button:hover {
      background-color: #367335;
      color: #B1D59A; }

.clearance_main {
  background-color: #B1D59A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: #13120E;
  position: relative;
  top: 68px;
  height: 91vh; }
  .clearance_main h1 {
    color: #13120E;
    padding-top: 75px; }

.about_main {
  position: relative;
  display: flex;
  background-color: #B1D59A;
  height: 92vh; }
  .about_main section {
    position: relative;
    top: 70px; }

.footer {
  background-image: linear-gradient(to top, #367335, #B1D59A);
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: .85; }
  .footer div {
    display: flex;
    justify-content: center; }
  .footer ul {
    display: flex; }
  .footer li {
    font-size: 12px;
    list-style: none;
    margin: 0px 20px; }
  .footer .link {
    margin: 0px 30px;
    list-style: none;
    color: #13120E;
    font-family: "Megrim", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none; }

.dashboard_wrapper {
  height: 100vh; }

.type_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .type_wrapper img {
    width: 500px;
    border: solid 1px #13120E;
    border-radius: 9px;
    background-color: #F0F6E5;
    box-shadow: 0px 0px 50px #13120E;
    opacity: .87; }
    .type_wrapper img:hover {
      opacity: 1;
      border-radius: 20px;
      transition: .4s;
      transform: scale(1.03);
      box-shadow: 0px 0px 15px #DEECC5, 0px 0px 20px #367335; }

.type_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; }
  .type_main h4 {
    margin-top: 20px;
    background-color: #B1D59A;
    text-align: center;
    font-family: "Megrim", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 1px;
    color: #13120E;
    padding: 5px;
    border: none;
    border-radius: 9px;
    box-shadow: 0px 0px 20px #13120E; }

.add_button {
  background-color: #DEECC5;
  color: #13120E;
  padding: 12px 12px;
  border: none;
  border-radius: 50%;
  font-family: "Megrim", sans-serif;
  font-weight: bolder; }
  .add_button:hover {
    background-color: #367335;
    color: #F0F6E5;
    box-shadow: 0px 0px 10px #13120E; }

.cart_wrapper {
  background-color: #B1D59A;
  height: 92vh;
  display: flex;
  justify-content: space-between; }

.cart {
  margin-top: 4.5%; }

.cart_section {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cart_section .item {
    background-color: #B1D59A;
    padding: 10px;
    opacity: .87;
    border: none;
    border-radius: 9px;
    margin: 5px 10px;
    width: 850px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .cart_section .item img {
      margin: 10px;
      border: solid 1px #13120E;
      border-radius: 9px; }
    .cart_section .item button {
      background-color: #DEECC5;
      border: none;
      padding: 5px;
      border-radius: 9px;
      box-shadow: 1px 1px 3px #13120E;
      font-family: "Megrim", sans-serif;
      font-weight: bolder; }
      .cart_section .item button:hover {
        background-color: #13120E;
        color: #B1D59A; }

.info_section {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #13120E;
  opacity: .87;
  border-radius: 9px;
  height: 89%;
  margin-right: 10px; }

.price_info {
  color: #F0F6E5;
  margin: 25px 0px; }

.checkout {
  margin-top: 50px;
  border: none;
  border-radius: 9px; }
